In [76]:
import tkinter as tk
import pandas as pd

# After having loaded the relevant libraries we explore the csv file

In [77]:
df = pd.read_csv('D:\Téléchargements\\testing.csv', delimiter=';',encoding='latin1',low_memory=False)

In [78]:
print (df)

             Name  04/07/2022  05/07/2022  06/07/2022  07/07/2022  08/07/2022  \
0      Employé 28         8.0         8.0         8.0         8.0         8.0
1      Employé 88         0.0         0.0         0.0         0.0         0.0
2     Employé 127         8.0         8.0         8.0         8.0         8.0
3     Employé 125         8.0         8.0         8.0         8.0         8.0
4      Employé 19         8.0         8.0         8.0         8.0         8.0
...           ...         ...         ...         ...         ...         ...
2128          NaN         NaN         NaN         NaN         NaN         NaN
2129          NaN         NaN         NaN         NaN         NaN         NaN
2130          NaN         NaN         NaN         NaN         NaN         NaN
2131          NaN         NaN         NaN         NaN         NaN         NaN
2132          NaN         NaN         NaN         NaN         NaN         NaN

      11/07/2022  12/07/2022  13/07/2022  14/07/2022  ...  Unnamed: 552  \
0            8.0         8.0         8.0         8.0  ...           NaN
1            0.0         0.0         0.0         0.0  ...           NaN
2            8.0         8.0         8.0         8.0  ...           NaN
3            8.0         8.0         8.0         8.0  ...           NaN
4            8.0         8.0         8.0         8.0  ...           NaN
...          ...         ...         ...         ...  ...           ...
2128         NaN         NaN         NaN         NaN  ...           NaN
2129         NaN         NaN         NaN         NaN  ...           NaN
2130         NaN         NaN         NaN         NaN  ...           NaN
2131         NaN         NaN         NaN         NaN  ...           NaN
2132         NaN         NaN         NaN         NaN  ...           NaN

      Unnamed: 553  Unnamed: 554  Unnamed: 555  Unnamed: 556  Unnamed: 557  \
0              NaN           NaN           NaN           NaN           NaN
1              NaN           NaN           NaN           NaN           NaN
2              NaN           NaN           NaN           NaN           NaN
3              NaN           NaN           NaN           NaN           NaN
4              NaN           NaN           NaN           NaN           NaN
...            ...           ...           ...           ...           ...
2128           NaN           NaN           NaN           NaN           NaN
2129           NaN           NaN           NaN           NaN           NaN
2130           NaN           NaN           NaN           NaN           NaN
2131           NaN           NaN           NaN           NaN           NaN
2132           NaN           NaN           NaN           NaN           NaN

      Unnamed: 558  Unnamed: 559  Unnamed: 560  Unnamed: 561
0              NaN           NaN           NaN           NaN
1              NaN           NaN           NaN           NaN
2              NaN           NaN           NaN           NaN
3              NaN           NaN           NaN           NaN
4              NaN           NaN           NaN           NaN
...            ...           ...           ...           ...
2128           NaN           NaN           NaN           NaN
2129           NaN           NaN           NaN           NaN
2130           NaN           NaN           NaN           NaN
2131           NaN           NaN           NaN           NaN
2132           NaN           NaN           NaN           NaN

[2133 rows x 562 columns]

In [80]:
# Prompt the user to enter the employee name
employee_name = input("Enter the employee name: ")

# Prompt the user to enter the date
date = input("Enter the date (DD/MM/YYYY): ")

# Check if the employee name exists in the DataFrame
if employee_name in df['Name'].values:
    # Check if the date exists in the DataFrame
    if date in df.columns:
        # Get the task hours for the given employee and date
        task_hours = df.loc[df['Name'] == employee_name, date].values[0]
        
        if task_hours == 8:
            print(f" {employee_name} has a task on {date}")
        elif task_hours == 0:
            print(f" {employee_name} is free on {date}")
        else:
            print(f" {employee_name} has {task_hours} hours of work on {date}")
    else:
        print("Invalid date. Please try again.")
else:
    print("Employee name not found. Please try again.")

Enter the employee name: Employé 105
Enter the date (DD/MM/YYYY): 28/12/2023
 Employé 105 is free on 28/12/2023

# Our app

### works in a very simple manner, it will prompt the user to insert the employee name, in our dataset the employees are labelled 'employé xxx...etc', and then a date. the date has to be inserted in the format mentioned in the window for the process to properly work.

In [ ]:
# Function to handle the button click event
def check_task():
    # Get the employee name and date from the entry fields
    employee_name = employee_entry.get()
    date = date_entry.get()

    # Check if the employee name exists in the DataFrame
    if employee_name in df['Name'].values:
        # Check if the date exists in the DataFrame
        if date in df.columns:
            # Get the task hours for the given employee and date
            task_hours = df.loc[df['Name'] == employee_name, date].values[0]
            
            if task_hours == 8 or task_hours == 16:
                result_label.config(text=f"{employee_name} has a task on {date}")
            elif task_hours == 0:
                result_label.config(text=f"{employee_name} is free on {date}")
            else:
                result_label.config(text=f"{employee_name} has {task_hours} hours of work on {date}")
        else:
            result_label.config(text="Invalid date. Please try again.")
    else:
        result_label.config(text="Employee name not found. Please try again.")

# Create the main window
window = tk.Tk()

# Create label and entry for employee name
employee_label = tk.Label(window, text="Enter the employee name:")
employee_label.pack()
employee_entry = tk.Entry(window)
employee_entry.pack()

# Create label and entry for date
date_label = tk.Label(window, text="Enter the date (DD/MM/YYYY):")
date_label.pack()
date_entry = tk.Entry(window)
date_entry.pack()

# Create button to check the task
check_button = tk.Button(window, text="Check Task", command=check_task)
check_button.pack()

# Create label to display the result
result_label = tk.Label(window)
result_label.pack()

# Start the main event loop
window.mainloop()